.desertSearchDiv{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    text-align: center;
    max-width: 500px;
}
.desertSearchDiv>input{
    width: 50%;
    padding: 5px;
}
table{
    margin: auto;
    min-width: 500px;
}
thead{
    border: 2px solid rgb(85, 83, 83);
    background-color: #cecece;
    color: black;
}
.paginationDiv {
    max-width: 500px;
    display: flex;
    margin: auto;
    border-top: 1px solid rgb(85, 83, 83);
}
.paginationDiv>div{
    margin: auto;
}
.prevNextDiv{
    width: 80px; 
    display: flex;
    justify-content: space-between;
}
